
@{
    ViewBag.Title = "Basic";
}

<h2>Basic</h2>
<h3>Hello <span data-bind="text: name"></span></h3>

@section Scripts{
    <script>
        function ViewModel() {
            this.name = 'Eric McQuiggan';
        }
        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);
    </script>    
}

